<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gexintec.gxt" >
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.usb.accessory" android:required="true" />
    <uses-feature android:name="android.hardware.usb.host" android:required="true" />
    <uses-permission android:name="com.google.android.things.permission.USE_PERIPHERAL_IO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
